.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-label {
    position: absolute;
    left: 42px;
    top: 16px;
}

/* .form-field:focus-within .form-label {
  transform: translate(-36px, -40px);
} */

.form-input {
    padding: 16px 42px;
    width: 100%;
    border: 2px solid #a18268;
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input:disabled {
    border-color: lightgray;
}

.form-input:disabled::placeholder {
    color: lightgray;
}

.form-input::placeholder {
    color: #a18268;
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-buttton {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    max-width: 210px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

.form-name {
    font-size: 64px;
    line-height: 1.5;
    text-align: center;
}