.traditions-section {
    padding-top: 96px;
}

.traditons-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.traditons-content {
    max-width: 710px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
}

.traditions-text .uppercase {
    text-transform: uppercase;
    font-weight: 600;
}

.traditions-text.limited {
    max-width: 340px;
}