* {
  box-sizing: border-box;
}
.flex-cotainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.item {
  flex-basis: 100px;
  height: 100px;
  background-color: aquamarine;
  padding: 10px;
  border: 6px solid rebeccapurple;
  margin: 10px;
  align-items: center;
}
